{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="cabinet_block">
     <div class="nav">
        <a href="{% url 'index' %}"><img src="/static/img/logo.png" class="logo"></a>
        <ul class="navig">
            <li><a href="{% url 'menu'%}">Menu</a></li>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'contacts'%}">Contacts</a></li>
            <a href="{% url 'logout' %}"><img class='search' src="/static/img/logout.png"></a>
            <a href="{% url 'cart:cart_detail' %}"><img class='bag' src="/static/img/Bag.png"></a>
        </ul>
    </div>

    <div class="profile_block">
        <br>
        <h3 class="profile_name"> Welcome, {{request.user.username}}</h3>
        <p class="profile_data"> Email: {{request.user.email}}</p>
        <p class="profile_data "> Date of joining: {{request.user.date_joined}}</p>
        <p class="profile_data "> First name: {{request.user.first_name}}</p>
        <img class="profile_img" src="https://i.pinimg.com/550x/d5/3d/1e/d53d1e5c3d9f22ae00d91ef69b2789b0.jpg">
    </div>
</div>
</div>



{% endblock  %}