{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="login_block">
        <h1>Authorization </h1>
        {% if form.errors %}
                <p>
                    Your username and password didn't match.
                    Please try again.
                </p>
        {% endif %}
         <a class="back" type="submit" href="/">Back</a>
         <a class="reg_btn_login" type="submit" href="/account/register">Registration</a>
    </div>
    <div class="login_form">
               <form action="{% url 'login' %}" method="POST">
                   {% csrf_token %}
                   {{ form.as_p }}
                   <button class="login_btn" id="submit" name="submit" type="submit" value="Login" />Login</button>
            </form>
    </div>
<label class="lb">Username:</label>
</div>
{% endblock %}