{% extends 'base.html' %}

{% block content %}
<div class="container">
 <div class="nav">
        <a href="{% url 'index' %}"><img src="/static/img/logo.png" class="logo"></a>
        <ul class="navig">
            <li><a href="{% url 'menu'%}">Menu</a></li>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'contacts'%}">Contacts</a></li>

            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}"><img class='search' src="/static/img/Profile.png"></a>
            {% else %}
                <a href="{% url 'login' %}"><img class='search' src="/static/img/Profile.png"></a>
            {% endif %}

            <a href="{% url 'cart:cart_detail' %}"><img class='bag' src="/static/img/Bag.png"></a>
        </ul>
 </div>

    <div class="about_us">
            <br>
            <h3>About us</h3>
            <p class="about_us_description"> Кафе "Cats Cafe" - уютное пространство, в котором останавливается время.
                Приглашаем Вас окунуться в оазис комфорта и восстановить душевное равновесие,
                скрывшись от городской суеты. Здесь Вас ждут четыре пушистых антидепрессанта разных пород и окрасов.</p>

            <p class="about_us_description">Однако сказать, что кафе "Cats Cafe" - только милое местечко с котиками, было бы неправильным.
                Мы даём гостям возможность услышать себя или пообщаться с друзьями за вкусной едой.
                Будь то свадьба, юбилей, деловой или романтический ужин, семейный обед или чашка кофе - каждый приём пищи, даже если на него есть всего 5 минут, должен приносить удовольствие.
                И мы с гордостью ощущаем себя причастными к Вашим эмоциям от наслаждения вкусом, ведь наш шеф-повар работает из-под ножа и при производстве использует только качественные ингредиенты.
                А уж выпечка, десерты и торты на заказ точно не разочаруют любителей сладкого.</p>

            <p class="about_us_description">Если у нас в гостях Вы чувствуете себя расслабленными, спокойными и удовлетворёнными - значит мы двигаемся в правильном направлении.</p>

            <p class="about_us_description">Наша работа - дарить настроение.</p>

            <p class="about_us_description">Всегда Ваше кафе "Cats Cafe"!</p>

            <img class="about_us_img" src="https://e0.pxfuel.com/wallpapers/872/697/desktop-wallpaper-dayahsn-on-cositas-cute-anime-cat-cute-kawaii-animals-chibi-cat.jpg">
    </div>
</div>

{% endblock %}