{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="nav">
        <a href="{% url 'index' %}"><img src="/static/img/logo.png" class="logo"></a>
        <ul class="navig">
            <li><a href="{% url 'menu'%}">Menu</a></li>
            <li><a href="{% url 'about_us' %}">About us</a></li>
            <li><a href="{% url 'contacts'%}">Contacts</a></li>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}"><img class='search' src="/static/img/Profile.png"></a>
            {% else %}
                <a href="{% url 'login' %}"><img class='search' src="/static/img/Profile.png"></a>
            {% endif %}
            <a href="{% url 'cart:cart_detail' %}"><img class='bag' src="/static/img/Bag.png"></a>
        </ul>
    </div>


    <div class="bag_cont">
        <h1>Корзина покупок</h1>
        <div class="cart">
              {% for item in cart %}
                {% with product=item.product %}
                <div class="cart_item">
                    <tr>

                        <td>
                            <img class="cart_item_img" src="{{ product.image.url }}" alt=""></a>
                        </td>
                        <p class="cart_item_name">{{ product.name }}</p>
                        <p class="cart_item_price">{{ item.price }} руб.</p>
                        <p class="cart_item_remove"><a   href="{% url 'cart:CartRemove' product.id %}">Удалить</a></p>
                    </tr>

                </div>
                {% endwith %}
              {% endfor %}
        </div>


    </div>
        <div class="cart_price">
            <tr class="total">
                {% for item in cart %}
                    {% with product=item.product %}
                            <p class="cart_item_name_t">{{ product.name }}</p>
                            <p class="cart_item_qv_t">Количество: {{item.quantity}}</p>
                            <p class="cart_item_price_t">{{ item.total_price }} руб.</p>
                    {% endwith %}
                {% endfor %}

                <div class="total_price">
                    <td>К оплате:</td>
                    <td colspan="4"></td>
                    <td class="num">{{ cart.get_total_price }} руб.</td>
                </div>
            </tr>
        </div>
</div>

{% endblock %}
