{% extends 'base.html' %}

{% block content %}
<div class="menu">
    <div class="nav">
        <a href="{% url 'index' %}"><img src="/static/img/logo.png" class="logo"></a>
        <ul class="navig">
            <li><a href="{% url 'menu'%}">Menu</a></li>
            <li><a>About us</a></li>
            <li><a href="{% url 'contacts'%}">Contacts</a></li>
            <img class='search' src="/static/img/Profile.png">
            <img class='bag' src="/static/img/Bag.png">
        </ul>
    </div>

    <div class="obj">
            <h2>Latte</h2>
            <h2>Latte</h2>
    </div>
</div>



{% endblock %}